<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>p2</key>
	<array>
		<integer>1342820934</integer>
		<integer>1225587234</integer>
		<integer>966598301</integer>
	</array>
</dict>
</plist>
